.position {
  position: absolute;
  z-index: 4;
}

.style {
  width: 0.7vw;
  background: #000;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  border-width: .15vw;
  border-style: solid;
  border-color: #ddd;
}

.rotation {
  transition: 0.35s;
  transition-delay: 0.27s;
  transition-timing-function: ease-in;
  transform-origin: top center;
}
