.tooth {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 0.8vw;
  height: calc(110% + .4vh); /* the .4vh creates a more realistic groove in pinions */
  border-radius: 0.2vw;
}
